
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInbox</h1>

<div class="main-agileinfo">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="agileits-top">
        <div>
            <p>Password reset like has been send to your email, please check your inbox </p>
        </div> 
    </div>
</div>