@model SignUpViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="agileits-top">
        <form asp-action="SignUp">
            <input type="text" asp-for= "FirstName" placeholder="First Name" required="" class="form-control" />
            <input type="text" asp-for="LastName" placeholder="last Name" required="" class="form-control" />
            <input type="text" asp-for="Email" placeholder="Email" required="" class="form-control" />
            <input type="password" asp-for="Password" placeholder="password" required="" class="form-control" />
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="" class="form-control" />

            <div class="=wthree-text">
                <label class="anim">
                    <input type="checkbox" required="" />
                    <span>I agree to the terms & Conditions</span>
                </label>
            </div>
            <input type="submit" value="SignUp">
        </form>
        <p> don`t have an account?<a asp-action="SignIn" > Login Now </a></p>
    </div>
</div>

@* @section validationSection{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
} *@